body {
    background-color: #100E06;
}
.Header {
    display: abso;
    width: 100%;
    height: 50px;
    background-color: #FFC700;
}

.ang {
    color: aliceblue;
}
.ang1 {
    color: aliceblue;
}
.ang2 {
    color: aliceblue;
}
body {
    background-color: #100E06;
}

.Header {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 1px;
    top: 0px;

    background: #FFC700;
}

button {
    float:right;
}
