@import url('https://rsms.me/inter/inter.css');

body {
    background-color: #100E06;
    font-family: 'Inter var', sans-serif;
    color: white;
    height: 100%;
    width: 100%;

}

#root{
    height: 100%;
    width: 100%;

}

html{
    height: 100%;
    width: 100%;
}

.Header {
    position: fixed;
    display: flex;
    align-items: center;
    height: 65px;
    top: 0;
    left: 0;
    right: 0;
    background: #FFC700;
}

.logo {
    width: 120px;
    height: auto;
    margin-top: 20px;
    display: block;
}

/* home.js */

.buttons {
    position: relative;
    right: 330px;
    margin-left: auto;
    margin-bottom: 3px;
    margin-right: 10px;
}

.qnabtn {
    margin-top: 8px;
    margin-right: 75px;
}

button {
    text-align: center;
    border: 0;
    outline: 0;
    vertical-align: middle;
    display: inline-block;
    background-color: transparent;
}

a {
    font-weight: 400;
    font-size: 25px;  
    text-align: center;
    text-decoration: none;
    color: inherit;
}
.Section_Container1 {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-left: auto;
}

.Section_Container2 {
    width: 100%;
    height: 100%;
}
.Mainlogo{
    position: absolute;
    width: 1030px;
    height: 1030px;
    left: 200px;
    bottom: 220px;
}
.Green_Circle{
    position: absolute;
    width: 360px;
    height: 60px;
    left: 1450px;
    top: 270px;

    background: #17361A;
    border-radius: 50px;
}
.GC_Text {
    position: relative;
    bottom: 20px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
}
.main_text {
    position: absolute;
    width: 800px;
    height: 93px;
    left: 1450px;
    top: 320px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    color: #FFFFFF;
}
.main_text2 {
    position: absolute;
    width: 700px;
    height: 77px;
    left: 1450px;
    top: 380px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    
    color: #FFFFFF;
}
.main_text3 {
    position: absolute;
width: 530px;
height: 135px;
left: 1450px;
top: 470px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 45px;

letter-spacing: -0.055em;

color: #FFFFFF;
}

.main_btn {
    position: absolute;
    width: 400px;
    height: 75px;
    left: 1450px;
    top: 670px;

    background: #FFC700;
    border-radius: 13px;
    font-weight:900;
    font-size: 35px;
    line-height: 45px;

    text-align: center;
    letter-spacing: -0.055em;

    color: #000000
}
/* Login.js */

.login {
    color: #FFC700;
    position: relative;
    top: 3.5em;
    text-align: center;
}

/* Register.js */




/* Qna.js */
.QNA{
    height: 100%;
}

.QNAtextbody{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#QAtext{
    font: inter;
    color: #FFC700;
    margin: 0;
    font-family: 'Inter var', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 51px;
    line-height: 62px;
    letter-spacing: 0.05em;
    width: max-content;
    margin-bottom: 12px;
}

.QNAMain{
    height: 100%;
    margin-top: 134px;
}

.mainbox{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 80%;
}

.vbox{
    width: 50%;
}

.sebox{
    height: 100%;
    width: 100%;
    background-color: #b2c7d9;
    overflow-y: auto;
}

.sebox::-webkit-scrollbar {
    display: none;
    }
.chatbox{
    height: 18%;
    background-color: white;
}

.twobox{
    min-height: 80px;
    width: 100%;
    height: 80px;
    display: flex;
}

.twoProbox{
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: center;
    
}

.twoPro{
    width: 45px;
    height: 45px;
    background-color: black;
    border-radius: 16px;
    overflow: hidden;
    margin-top: 15px;
}

.Pro{
    width: 100%;
    height: 100%;
}

.twochatbox{
    display: flex;
    align-items: center;
}

.twotextbox{
    min-height: 40px;
    margin-left: 20px;
    min-width: 250px;
    max-width: 500px;
    width: max-content;
    height: max-content;
    background: white;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow : 0 0.3px 0px 0 ;
}

.twotextbox:before{
    content: "";
    position: absolute;
    right: 100%;
    top: 5px;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 26px solid white;
    border-bottom: 20px solid transparent;
    
}

.twoproname{
    margin-left: 20px;
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
}

.twotext{
    margin: 0;
}

.a{background-color: black;}

.onebox{
    min-height: 80px;
    width: 100%;
    height: 80px;
    display: flex;
    float: right;
    justify-content: flex-end
}


.onechatbox{
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.onetextbox{
    min-height: 40px;
    margin-right: 20px;
    min-width: 250px;
    width: max-content;
    height: max-content;
    background: #ffeb33;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow : 0 0.3px 0px 0 ;
}

.onetextbox:before{
    content: "";
    position: absolute;
    left: 100%;
    top: 5px;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-left: 26px solid #ffeb33;
    border-bottom: 20px solid transparent;
    
}


.onechatbox{
    display: flex;
    align-items: center;
}

.twotext{
    margin: 0;
    margin-right: 10px;
    margin-left: 10px;
    white-space: break-word;
    max-width: 480px;
}

.onetext{
    margin: 0;
    margin-right: 10px;
    margin-left: 10px;
    white-space: nowrap;
}
